/* 360도 VR이미지 css파일입니다. */
@charset "utf-8";

    .carbox {
        position: relative;
        top: 12%;
        width: 960px;
        height: 500px;
        margin: 0 auto;
              
        user-select: none;
        -webkit-user-drag: none;

        cursor: grab;
        z-index: 9999;
    }
    .carbox::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .carbox img {
        position: absolute;
        
    }