@charset "utf-8";

#top {
    background-color: black;
    height: 80px;
}

.top {
    display: flex;
    background-color: black;
    text-align: center;
}


.logo {
    position: absolute;
    left: 55%;
    top: 2%;
    transform: translateX(-80%) scaleX(1.2);
    z-index: 99999;
}

.ham, .search{
    display: none;
}



#mobx{
    position: absolute;
    width: 100%;
    height:220px;
    
    background-color: white;
    text-align:left;
    z-index: 9999999999;
    display: none;
}
.mognb{
    padding-left: 15px;
    background-color: #a0987e;
}

.mognb a{
    font-size: 17px;
    line-height: 2;
    color: black;
}

.smenu{
    padding-left: 30px;
    width: 93%;
    background-color:darkgrey;
    padding-right: -30px;
}

.smenu li{
    box-shadow: inset 94px 0px 60px -42px #a0987e, 0px 0px 0px 2px #a0987e;
    
}

.smenu a{
    font-size:15px;
}

.gnb {

    font-size: 18px;
    line-height: 55px;
    height: 0;
    padding: 10px 30px;
    margin-top: 11px;

}

.gnb {
    position: relative;
    width: 100%;
    /* margin-bottom: 0; */
}

.gnb>ul {
    display: flex;
    justify-content: space-evenly;
}

.gnb>ul>li:nth-child(3) {
    margin-left: auto;
}

.gnb li {
    box-sizing: border-box;
    padding: 0 45px 0px 45px;
    z-index: 999999;

}

.sbx {
    display: flex;
    position: absolute;
    width: 60%;
    top: 89px;
    left: 170px;
    height: 0;
    overflow: hidden;
    transition: height 1s ease-in-out;

}

.sbx img {
    display: block;
    position: absolute;
    top: -100px;
    left: -170%;
    transform: scale(0.35);
}

.sbx a {
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 75%;
    width: 100px;
    height: 100px;
}

.spo {
    transform: scaleX(-1);
}

.sbx div {
    position: relative;
    width: 30%;
    top: -70px;
    left: -10%;
}

.sbx span {
    display: block;
    position: absolute;
    bottom: -55%;
    left: 90%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 16px;
}

.sbx:hover div>a:nth-child(2) {
    position: absolute;
    left: -100%;
}

.sbx img:hover {
    border-radius: 50%;
    box-shadow: 0 0 100px #a0987e;
}

.gnb>ul>li:hover .sbx {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    overflow: hidden;
}

#info {
    position: relative;
    height: 85px;
    background: black;
    color: white;
    padding: 35px 0 0 0;
}

footer {
    position: relative;
}

#info img {
    transform: translateX(10%);
}

address {
    position: absolute;
    top: -50%;
    left: 31%;
    color: #747474;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    justify-content: space-around;
}


.sns {
    display: flex;
    position: absolute;
    right: 7%;
    bottom: 40%;
    width: 100px;
}

.sns li {
    flex: 1;
}

.blink {
    display: flex;
    position: absolute;
    bottom: -175%;
    left: 27%;
    justify-content: center;
    font-size: 13px;
}

.blink li {
    padding: 0 30px;
}

.blink a {
    color: #747474;
}

.media{
    display: none;
}