@charset "utf-8";

@import url(reset.css);
@import url(core.css);
@import url(common.css);

#cont{
    height: calc(100vh - 200px);
}
.scont{
    margin-bottom: 100px;
}

.stit{
    font-size: 50px;
    padding: 40px 0 20px;
    text-align: center;
    font-weight: normal;
}

#login{
    position: relative;
    width: 700px;
    height: 275px;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid #737373;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 60px 15px;
}
.minput label{
    display: inline-block;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    color: #737373;
    text-align: center;
    line-height: 36px;
}

.minput input{
    width: 320px;
    height: 36px;
    border: 1px solid #737373;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
    padding-left: 5px;
    color: #666;
}

.mi2{
    margin-top: 20px;
}

input:focus{
    outline: none;
}

.btnbx{
    position: absolute;
    top: 60px;
    right: 40px;
}

#sbtn{
    width: 113px;
    height: 92px;
    border: 1px solid #737373;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #ddd, #555);
    font-size: 15px;
    color: #fff;
    text-shadow: 1px 1px 0 #666;
}

.addbx{
    margin-top: 50px;
    text-align: center;
}

.addbx a{
    margin: 0 15px;
    color: black;
}

