@charset "utf-8";

@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

#cont{
    height: calc(100vh - 200px);
    overflow: hidden;
}

#enter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99;
}

#enter span {
    position: relative;
    display: block;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    transition: all 0.5s ease-out;
}

#enter:hover span {
    color: black
}

#enter span:nth-child(2) {
    position: relative;
    top: 150px;
    font-size: 20px;
    color: white;
}

.KiaStory {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999999999;
}

.KiaStory span {
    position: relative;
    display: block;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    transition: all 0.5s ease-out;
    color: white;
}

div.KiaStory span:nth-child(2) {
    position: relative;
    top: 150px;
    font-size: 20px;
    color: white;
}

.slide-container{
    display: flex;
    width: 300vw;
    
}

.slide-box{
    width: 100vw;
    height: calc(100vh - 200px);

}

.slide-box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-prev{
    position: absolute;
    top: 48%;
    left: 10px;
    width: 45px;
    height: 45px;
    border: 0;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 60%;
    cursor: pointer;
}
.slide-next{
    position: absolute;
    top: 48%;
    right:10px;
    width: 45px;
    height: 45px;
    border: 0;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 60%;
    cursor: pointer;
}

.transforming{
    transition: transform 0.5s;
}