@media only screen and (max-width:1024px) {

    #top {
        height: 80px;
    }


    .logo {
        top: 1.5%;

    }

    .logo img {
        width: 80px;
    }


    .gnb li {
        padding: 0 20px 0px 20px;
    }

    .gnb a {
        font-size: 14px;
    }

    .info img {
        width: 85px;
    }

    .sbx img {
        transform: scale(0.4);
    }

    .pt1 {
        display: block;
        transform: scale(0.6) translateX(-1%);
        height: 250px;
    }

    .choice_color {
        top: -10%;
        left: 2%;
    }

    .mspan {
        top: 5%
    }

    .carbox {
        top: -45%;
    }

    .carInforInner {
        display: none;
    }



    .pt1-2 {
        display: block;
    }

    .pt1-2 img {
        display: block;
        margin: 0 auto 6px;
        padding-top: 20px;
    }

    .pt1-2 ul {
        display: flex;
        background-color: #a0987e;
        text-align: center;
        word-break: keep-all;
    }

    .pt1-2 li {
        flex: 1;
        border: 1px solid white;

    }

    .pt2 span:nth-child(1) {
        position: absolute;
        top: 8%;
        left: 5%;
        font-size: 19px;
    }

    .pt2 span:nth-child(3) {
        position: absolute;
        top: 12%;
        left: 5%;
        font-size: 25px;
    }

    .pt2 span:nth-of-type(3) {
        position: absolute;
        top: 25%;
        right: 3%;
        font-size: 12px;
    }

    address {
        left: 25%;
    }

    .inforTit {
        color: #05141f;
        font-size: 13px
    }

    .inforTxt {
        margin-top: 5px;
        color: #05141f;
        font-size: 16px;
        line-height: 23px;
    }

    .blink {
        left: 22%;
    }

    .blink li {
        padding: 0 20px;


    }

    .sns {
        display: flex;
        flex-direction: column;
        bottom: -250%;
        right: 0%;
        text-align: center;
        width: 80px;
        height: 80px;
    }


}

@media only screen and (max-width:768px) {

    .logo {
        top: 1%;

    }

    .logo img {
        width: 60px;
    }

    .gnb li {
        padding: 0 15px 0px 15px;
    }

    .gnb a {
        font-size: 10px;
    }

    
    
    .sbx img {
        transform: scale(0.3);
    }
    
    .pt1 {
        display: block;
        transform: scale(0.5) translateX(-15%);
        height: 250px;
    }
    
    .pt2 span:nth-child(1) {
        position: absolute;
        top: 8%;
        left: 5%;
        font-size: 16px;
    }
    
    .pt2 span:nth-child(3) {
        position: absolute;
        top: 12%;
        left: 5%;
        font-size: 20px;
    }
    
    .pt3 span,
    .pt4 span {
        position: absolute;
        bottom: 0;
        right: 2%;
        font-size: 11.5px;
        color: white;
    }
    
    
    .inforTit {
        color: #05141f;
        font-size: 12px
    }
    
    .inforTxt {
        margin-top: 5px;
        color: #05141f;
        font-size: 14px;
        line-height: 23px;
    }
    
    address {
        left: 20%;
        font-size: 12px;
    }
    
    .blink {
        left: 20%;
        font-size: 11px;
        bottom: -200%;
        
    }
    
    .blink li {
        padding: 0px 20px;
        padding: 0 12px;
    }


    .info img {
        width: 60px;
    }
    
    
    .sns {
        display: flex;
        flex-direction: column;
        bottom: -250%;
        text-align: center;
        height: 70px;
    }

    .sns li {
        height: 25px;
    }

    .media {
        display: inline;
    }


}

@media only screen and (max-width:500px) {


    #top {
        height: 60px;
    }

    #info{
        height:50px
    }
g
    .logo {
        top: 0.3%;
        left: 53%;
    }

    .ham {
        display: block;
        position: absolute;
        top: 4px;
        left: 10px;
        font-size: 40px;
        color: white;
    }


    .search {
        display: block;
        position: absolute;
        top: 19px;
        right: 17px;
        font-size: 20px;
    }

    .gnb {
        display: none;
    }


    .pt2 span:nth-child(1) {
        position: absolute;
        top: 8%;
        left: 5%;
        font-size: 11px;
    }

    .pt2 span:nth-child(3) {
        position: absolute;
        top: 12%;
        left: 5%;
        font-size: 20px;
    }

    .pt3 span,
    .pt4 span {
        position: absolute;
        bottom: 0;
        right: 2%;
        font-size: 11px;
        color: white;
    }

    .pt1 {
        display: block;
        transform: scale(0.4) translateX(-45%);
        height: 250px;
    }

    .choice_color {
        top: -15%;
        left: 3%;
    }

    .mspan {
        top: 10%;
        left: 30%;
    }

    .carbox {
        top: -45%;
    }

    .pt1-1 {
        display: block;
    }

    .carInforInner {
        display: none;
    }

    .inforTit {
        color: #05141f;
        font-size: 12px
    }

    .inforTxt {
        margin-top: 5px;
        color: #05141f;
        font-size: 14px;
        line-height: 23px
    }

    .pt3 span,
    .pt4 span {
        position: absolute;
        bottom: 0;
        right: 2%;
        font-size: 11px;
        color: white;
    }

    .pt3>span {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 17px;
        color: black;
        z-index: 999;
    }



    address {
        left: 15%;
        font-size: 12px;
    }

    #info{
        height: 105px;
    }

    .info img {
        width: 50px;
    }

    .blink {
        width: 300px;
    }

    .blink li {
        padding: 0px 10px;
    }


    .blink li {
        padding: 0 5px;
    }

    .blink {
        bottom: -100%;
        left: 18%;
        font-size: 12px;
    }

    .sns {
        bottom: -300%;
        right: 36%;
        display: flex;
        flex-direction: row;
        width: 100px;
        text-align: center;
        height: 20px;
    }

    .sns li {
        height: 25px;
    }


    address>span {
        display: inline-block;
        height: 50px;
    }

    address {
        /* min-width: 382px; */
    }
}