
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Jua&family=Audiowide&display=swap');

.rbx{
    position: relative;
}
.rbx::before{
    content: '';
    display: block;
    padding-top: 63%;
}