@charset "utf-8";

@import url(reset.css);

html,body{
    margin: 0;
    padding: 0;
}

body{
    background:
    url(../images/bg_resized-.jpg) no-repeat fixed center,
    url(../images/title.png) repeat fixed;
    
}