@charset "utf-8";

@import url(reset.css);
@font-face {
    font-family: ng;
    src: url(../fonts/NanumGothic.woff) format("woff");
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    background:
    url(../images/bg_resized.jpg) no-repeat fixed center,
    url(../images/bg_building.jpg) repeat fixed;
}

#logo{
    text-align: center;
    margin-top: 30px;
}

.gnb{
    width: 770px;
    margin: 0 auto;
}
.gnb>ul>li{
    padding: 0 17px;
}
.gnb a{
    font-size: 20px;
    font-family: ng, sans-serif;
}

.gnb>ul>li>a{
    display: block;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
}
.gnb>ul>li:hover>a{
    border-bottom: 4px dashed red;
}

.smenu{
    position: absolute;

    height: 0;
    overflow: hidden;
    
    transition: height .4s ease-out;

    z-index: 1;

    padding-top: 10px;
}

.smenu li{
    float: none;
}

.smenu a{
    line-height: 30px;
    color: #fff;
}

.gnb>ul>li:nth-child(1):hover .smenu,
.gnb>ul>li:nth-child(1):hover::after{
    height: 110px;
}
.gnb>ul>li:nth-child(3):hover .smenu,
.gnb>ul>li:nth-child(3):hover::after{
    height: 150px;
}
.gnb>ul>li:nth-child(4):hover .smenu,
.gnb>ul>li:nth-child(4):hover::after{
    height: 90px;
}
.gnb>ul>li:nth-child(1):hover::after,
.gnb>ul>li:nth-child(3):hover::after,
.gnb>ul>li:nth-child(4):hover::after{
    border-bottom: 2px solid red;
}
.gnb>ul>li::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;

    height: 0; 
    opacity: 1;

    margin-top: 1px;

    transition: height .4s ease-out;
}

.cont{
    min-height: 800px;
}
#cbx{
    position: relative;

    top: 272px;

    width: 90%;

    margin: 0 auto;
}
#cbx::after{
    content: '';
    display: block;
    clear: both;
}


.cat{
    width: 33%;
    padding: 10px;
    box-sizing: border-box;

    float: left;

    transition: margin-top .6s ease-out;
}

.cat:hover {
    margin-top: -13%;
}
.ci{
    text-align: center;
}

.ci > img{ 
    width: 50%;

}

.cd {
    height: 0px;

    overflow-y: scroll;

    background-color: #fff;
    border-radius: 20px 0 0 20px;

    margin-top: 15px;


    transition: height .6s ease-out;
}

.cat:hover .cd {
    height: 250px;
}

.cd h3 {
    font-family: 'Hi Melody', cursive;
    padding: 5px 10px 0px;

}

.cd p {
    font-family: 'Hi Melody', cursive;
    padding: 10px;

    text-align: justify;

}