@charset "utf-8";

@import url(reset.css);

html,body{
    margin: 0;
    padding: 0;
}

body{
    background:
    url(../images/bg_resized.jpg) no-repeat fixed center,
    url(../images/bg_building.jpg) repeat fixed;
}

#logo{
    text-align: center;
}

div{
    position: absolute;
    height: 500px;
    outline: 1px dotted yellow;
}