@charset "utf-8";

html,body{
    margin: 0;
    padding: 0;
}

body{
    background: url(../images2/title.png) no-repeat fixed 12% 10%/16%, 
    url(../images2/bg_resized-.jpg) no-repeat fixed center/cover;
    
}