@charset "utf-8";
#top {
    background-color: black;
    height: 71px;
}

.top {
    display: flex;
    background-color: black;
    text-align: center;
}


.logo {
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translateX(-80%) scaleX(1.2);
}

.gnb {

    font-size: 18px;
    line-height: 40px;
    height: 0;
    padding: 10px 30px;
    margin-top: 11px;

}

.gnb {
    position: relative;
    width: 100%;
    /* margin-bottom: 0; */
}

.gnb>ul {
    display: flex;
    justify-content: space-evenly;
}

.gnb>ul>li:nth-child(3) {
    margin-left: auto;
}

.gnb li {
    box-sizing: border-box;
    padding: 0 45px 0px 45px;
    z-index: 999999;

}

.sbx {
    display: flex;
    position: absolute;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.sbx img {
    transform: scale(0.4);
}

.sbx a{
    display: inline-block;
}

.spo {
    transform: scaleX(-1);
}

.sbx div{
    position: relative;
    top: -70px;
    left: 0%;
}
.sbx span{
    display: block;
    position: absolute;
    bottom:20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 16px;
}

.gnb>ul>li:hover .sbx {
    height: 300px;
}

main {
    overflow: hidden;
}

#info {
    position: relative;
    background: black;
    color: white;
    padding: 35px 0 35px 0;
}

footer {
    position: relative;
}

#info {
    padding-left: 50px;
}

address {
    position: absolute;
    top: -30%;
    left: 15%;
    color: #747474;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    justify-content: space-around;
}

.sns {
    display: flex;
    position: absolute;
    right: 10%;
    bottom: 40%;
}

.sns a {
    padding-right: 25px;
}

.blink {
    display: flex;
    position: absolute;
    bottom: -50%;
    left: 20%;
    justify-content: center;
}

.blink li {
    padding: 0 30px;
}

.blink a {
    font-size: 14px;
    color: #747474;
}