@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
/* 레이아웃 공통 class */

/* 속박스 */
.ibx {
    max-width: 1300px;
    /* 최대1300px유지, 작아지면 auto */
    margin: 0 auto;
    /* 가로중앙정렬 */
}

/* 배경이미지 설명(또는 숨길글자) 클래스 */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
