@charset "utf-8";
html,body,ol,ul,h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}

a{
    color: white;
    text-decoration:none;
}

img,video{
    border: none;
    /* 이미지 링크시 서버에서 볼때 파란색 자동보더 없앰 */
    vertical-align: bottom;
    /* 박스 이미지 하단간극 없애기(약4px) 
    값으로 top, middle 등 도 효과있음 */
}