@charset "utf-8";

@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

section>div{
    height: 100%;
}

.gnb span{
    font-size: 16px;
    color: black;
}

.pt1{
    position: relative;
    width: 100%;
    height: 600px;
    background-color:#fff;
}

.mspan{
    position: relative;
    top: 30%;
    left: 25%;
    font-size: 20px;
    color: black;
}
.pt1-1{
    background-image: url(../images/EV6/SWP_1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.carInforInner{display:flex; flex-direction:column; width:250px;position:absolute;top:3%;right:5%;z-index:999;text-align:center;background:#a0987e}
.carInforInner li{width:250px;border:1px solid #d1d1d1;}
.carInforInner li img{display:block;margin:0 auto 6px;padding-top:20px}
.carInforInnerl li .inforTit{color:#05141f;font-size:14px}
.carInforInner li .inforTxt{margin-top:5px;color:#05141f;font-size:20px; line-height:23px}

.choice_color_wr{text-align:center}
.choice_color_wr .body_color{display:block;margin-left:300px;text-align:left}
.choice_color_wr .wheel_color{display:none;text-align:center;margin-top:10px}
.color_tit{font-size:16px;line-height:20px;font-family:'KiaB';color:#05141f;margin-right:50px;vertical-align:middle}
.choice_color{height:50px; margin:10px 0 0;position:absolute;bottom:5%;left:23%;z-index:9}
.choice_color:after{content:"";clear:both;display:block}
.choice_color .color_chip{position:relative;width:26px;height:26px;overflow:inherit}
.choice_color .color_chip:before{position:absolute;width:100%;height:100%;border:1px solid rgba(5,20,31,0.2);border-radius:100px;box-sizing:border-box;content:''}
.choice_color .color_chip.on{margin:0 2px 0 3px}
.choice_color .color_chip.on:after{display:block;position:absolute;top:-3px;left:-3px;width:32px;height:32px;border:4px solid rgba(5,20,31,0.2);border-radius:100px;box-sizing:border-box;content:''}
.color_info{font-size:16px;line-height:20px;color:rgba(5,20,31,0.6);margin-left:20px;vertical-align:middle}


.pt2{
    position: relative;
    /* height: 800px; */
    padding-top: 50%;
    background-image: url(../images/EV6/Ev6_22my_pe_exterior_01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pt2 span:nth-child(1){
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 24px;
}

.pt2 span:nth-child(3){
    position: absolute;
    top: 12%;
    left: 5%;
    font-size: 50px;
}

.pt3{
    display: flex;
    /* height: 300px; */
}

.pt3 span, .pt4 span{
    position: absolute;
    bottom: 0;
    right: 2%;
    font-size: 18px;
    color: white;
}

.pt4{
    display: flex;
    /* height: 300px; */
}
.cbx{
    /* outline: 1px solid red; */
    flex: 1;
    padding-top: 22%;
}



.bg1{
    position: relative;
    background-image: url(../images/EV6/Ev6_22my_pe_interior_detail_01.png);
    background-size: cover;
}
.bg2{
    position: relative;
    background-image:url(../images/EV6/Ev6_22my_pe_interior_detail_02.png);
    background-size: cover;
}
.bg3{
    position: relative;
    background-image:url(../images/EV6/Ev6_22my_pe_interior_detail_03.png);
    background-size: cover;
}
.bg4{
    position: relative;
    background-image:url(../images/EV6/Ev6_22my_pe_interior_detail_04.png);
    background-size: cover;
}
.bg5{
    position: relative;
    background-image:url(../images/EV6/Ev6_22my_pe_interior_detail_05.png);
    background-size: cover;
}
.bg6{
    position: relative;
    background-image:url(../images/EV6/Ev6_22my_pe_interior_detail_06.png);
    background-size: cover;}
