@charset "utf-8";

@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

section>div{
    height: 100%;
}

.gnb span{
    font-size: 16px;
    color: black;
}

.pt1{
    height: 600px;
    background-color:#fff;
}

.pt1 span{
    position: relative;
    top: 30%;
    left: 25%;
    font-size: 20px;
    color: white;
}
.pt1-1{
    background-image: url(../images/K8/SWP_1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.pt2{
    height: 800px;
    background-image: url(../images/K8/k8_01ex_w.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pt2 span:nth-child(1){
    position: relative;
    top: 7%;
    left: 5%;
    font-size: 24px;
    color: white;
}

.pt2 span:nth-child(3){
    position: relative;
    top: 10%;
    left: 5%;
    font-size: 50px;
    color: white;
}

.pt3{
    display: flex;
    height: 300px;
}

.pt3 span, .pt4 span{
    position: absolute;
    bottom: 0;
    right: 2%;
    font-size: 18px;
    color: white;
}

.pt4{
    display: flex;
    height: 300px;
}
.cbx{
    /* outline: 1px solid red; */
    flex: 1;
}



.bg1{
    position: relative;
    background-image: url(../images/K8/K8_01in_w.png);
    background-size: cover;
}
.bg2{
    position: relative;
    background-image:url(../images/K8/K8_02in_w.png);
    background-size: cover;
}
.bg3{
    position: relative;
    background-image:url(../images/K8/K8_03in_w.png);
    background-size: cover;
}
.bg4{
    position: relative;
    background-image:url(../images/K8/K8_04in_w.png);
    background-size: cover;
}
.bg5{
    position: relative;
    background-image:url(../images/K8/K8_05in_w.png);
    background-size: cover;
}
.bg6{
    position: relative;
    background-image:url(../images/K8/K8_06in_w.png);
    background-size: cover;}
