@charset "utf-8";

@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

section>div{
    height: 100%;
}

.gnb span{
    font-size: 16px;
    color: black;
}

.pt1{
    position: relative;
    width: 100%;
    height: 600px;
    background-color:#fff;
}

.mspan{
    position: relative;
    top: 30%;
    left: 25%;
    font-size: 20px;
    color: black;
}
.pt1-1{
    background-image: url(../images/Sportage/SWP_1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.carInforInner{display:flex; flex-direction:column; width:250px;position:absolute;top:3%;right:5%;z-index:999;text-align:center;background:#a0987e}
.carInforInner li{width:250px;border:1px solid #d1d1d1;}
.carInforInner li img{display:block;margin:0 auto 6px;padding-top:20px}
.carInforInnerl li .inforTit{color:#05141f;font-size:14px}
.carInforInner li .inforTxt{margin-top:5px;color:#05141f;font-size:20px; line-height:23px}

.pt2{
    position: relative;
    /* height: 800px; */
    padding-top: 50%;
    background-image: url(../images/Sportage/the_all_new_sportage_exterior01_w.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pt2 span:nth-child(1){
    position: absolute;
    top: 8%;
    left: 5%;
    font-size: 24px;
}

.pt2 span:nth-child(3){
    position: absolute;
    top: 12%;
    left: 5%;
    font-size: 50px;
}

.pt3{
    display: flex;
    /* height: 300px; */
}

.pt3 span, .pt4 span{
    position: absolute;
    bottom: 0;
    right: 2%;
    font-size: 18px;
    color: white;
}

.pt4{
    display: flex;
    /* height: 300px; */
}
.cbx{
    /* outline: 1px solid red; */
    flex: 1;
    padding-top: 22%;
}



.bg1{
    position: relative;
    background-image: url(../images/Sportage/the_all_new_sportage_interior01.png);
    background-size: cover;
}
.bg2{
    position: relative;
    background-image:url(../images/Sportage/the_all_new_sportage_interior02.png);
    background-size: cover;
}
.bg3{
    position: relative;
    background-image:url(../images/Sportage/the_all_new_sportage_interior03.png);
    background-size: cover;
}
.bg4{
    position: relative;
    background-image:url(../images/Sportage/the_all_new_sportage_interior04.png);
    background-size: cover;
}
.bg5{
    position: relative;
    background-image:url(../images/Sportage/the_all_new_sportage_interior05.png);
    background-size: cover;
}
.bg6{
    position: relative;
    background-image:url(../images/Sportage/the_all_new_sportage_interior06.png);
    background-size: cover;}
